<ion-view view-title="Aldeadávila de la Ribera">
  <ion-content>
    <div class="list card">

      <!-- <div class="item item-avatar">
        <img src="avatar.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </div> -->

      <div class="item item-image">
        <img src="img/portada.jpg">
      </div>

      <a class="button button-positive" ui-sref="listado">
        <i class="icon ion-chatbubbles"></i>
        Chat de Aldeadávila
    </a>

    </div>
  </ion-content>
</ion-view>